h1{
  color: #53b025;
  font-weight: bold;
  font-size: 60px;
  text-align: center;
}
img{
  margin-top: 16px;
  margin: auto;
  display: block;
  width: 40%;
}
h2{
  font-size: 35px;
  background-color: #58bf24;
}
h3{
  font-size: 25px;
}
p{
  font-size: 16px;
}
h4{
  font-size: 20px;
}
p1{
  font-size: 30px;
}